:root{
    --watermelon: #f4364c;
    /* --watermelon-dark: #EF354B; */
    --watermelon-dark2: #EA3449;
    /* --comp: #36F4DE; */
    --blueberry3: #1FC7D0;
    --banane: #F4DE36;
}

@font-face {
    font-family: 'Posterama';
    src: url(Fonts/Polices/Posterama/Posterama-Text-Bold.otf);
}

@font-face {
    font-family: 'Quanelas Soft';
    src: url(Fonts/Polices/Quanelas_soft/QanelasSoftMedium.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Posterama';
    scroll-behavior: smooth;
    user-select: none;
    overflow: overlay;
}

/* ALL */



h3{
    font-family: 'Quanelas Soft';
}

/* HEADER */

header{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100px;
    color: black;
}

#header-wrapper{
    position: relative;
}

#logo{
    transform: translateY(54%);
    margin-left: 20px;
    z-index: 4;
}

#logo span{
    color: white;
}


#diag{
    position: absolute;
    overflow: hidden;
    z-index: 5;
    height: 100px;
    width: 80px;
    background-color: var(--blueberry3);
    margin-left: 73px;
    transform: skewX(-28deg);
    color: var(--watermelon);
}

#diag h1{
    position: absolute;
    transform: translateY(54%) skewX(28deg);
    left: -55.3px;
    z-index: 4;
}

#diag:hover{
    color: white;
}

#diag h1 span{
    color: white;
}



/* MAIN */

main{
    border: transparent 1px solid; /* Sinon ça fait le bordel au niveau du footer */
}

#projets{
    letter-spacing: .06rem;
}


#project-text-black h2 span{
    color: var(--watermelon);
}

#project-red-diag:hover{
    color: white;
    /* background-color: #F4DE36; */
}


#header-size{
    position: relative;
    width: 100%;
    height: 100px;
    /* background-color: #1fadb9; */
}

#projets{
    display: flex;
    flex-wrap: wrap;
}

main ul{
    list-style: none;
}

main section h2{
    font-size: 36pt;
    top: 10px;
}

#project-title{
    width: 100%;
    z-index: 5;
    right: 50%;
    top: -10px;
    border: #2320f7 2px solid;

    margin-bottom: 30px;
    margin-left: 25px;
}

section{
    position: relative;
    display: block;
    margin: 35px auto 20px auto;
    padding-right: 25px;
    width: 70%;
    min-height: 150px;
}

section ul li div{
    position: relative;
    /* display: inline-block; */
    text-align: center;

    justify-content: center;
    /* border: #ad0000 3px solid; */
}

section ul li{
    margin: 20px 15px;
    flex: 1 1 auto;

    /* border-left: 1px #a1a1a17e solid; */
}

section ul li div img{

    border-left: 2px #a1a1a17e solid;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* outline: 1px #5906f3 solid; */
    /* outline-offset: 10px; */
}

#projets h3{
    margin-bottom: 10px;
    margin-left: 25px;
}




/* main section h2{
    border: #F4DE36 3px solid;
}
section{
    border: #3643f4 3px solid;
}
section ul li{
    border: #009fad 3px solid;
}
section ul li div{
    border: #ad0000 3px solid;
}
#projets h3{
    border: #F4DE36 3px solid;
} */



/* FOOTER  */

#footer-wraper{
    /* position: absolute; */
    display: flex;
    /* bottom: 0; */
    width: 100%;
    height: 45px;
    text-align: center;
    background: var(--watermelon) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
    color: white;
    font-family:  'Quanelas Soft';
}

#footer-wraper p{
    display: inline-block;
    margin: auto 0px;
    margin: auto;
    letter-spacing: .4rem;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blueberry3);
}


#projets img{
    width: 300px;
    height: auto;
}


/* BACKGROUNDS */

main{
    background: url(Images/SVG/Turing\ Patern6-2.svg) fixed;
}

body, header, #footer-wraper{
    background: var(--watermelon) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
}

/* BACKGROUND DIAG */

#diag{
    background: var(--blueberry3) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
}

#diag:before{
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: var(--blueberry3) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
    transform: skewX(28deg);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



#projet-title{
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    margin-left: 25px;
    /* border: #1FC7D0 1px solid; */
    /* align-items: center; */
}

#project-red-diag{
    z-index: 5;
    position: absolute;
    overflow: hidden;
    height: 100px;
    width: 69.5px;
    left: 50%;
    margin-left: -40px;
    /* top: 50%; */
    transform: skewX(-26deg);
    /* left: 45%; */
    color: var(--blueberry3);
}



#project-red-diag:before{
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: var(--watermelon) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
    transform: skewX(26deg) ;
}

#project-text-black{
    z-index: 4;
    position: absolute;
    height: 100px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translate(-13.8px, 0px); */
}

#project-red-diag h2{
    position: absolute;
    transform: skewX(26deg) translate(-53.3px);
    /* left: -55.3px; */
    z-index: 4;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */







@media screen and (max-width: 1200px) {
    #projets img{
        width: 600px;
        height: auto;
    }
    
    main{
        font-size: 25pt;
    }

    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    #projet-title h2{
        font-size: 54pt; /* +150% */
    }

    #projet-title{
        position: relative;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        margin-left: 25px;
        /* border: #04f724 1px solid; */
    }

    #project-red-diag{
        z-index: 5;
        position: absolute;
        overflow: hidden;
        height: 150px;
        width: 104.25px;
        left: 50%;
        margin-left: -60px;
        transform: skewX(-26deg);
        color: var(--blueberry3);
    }



    #project-red-diag:before{
        content: "";
        position: absolute;
        height: 200%;
        width: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        background: var(--watermelon) url(Images/SVG/Turing\ Patern6-transparent4percent.svg) fixed;
        transform: skewX(26deg) ;
    }

    #project-text-black{
        z-index: 4;
        position: absolute;
        height: 100px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    #project-red-diag h2{
        position: absolute;
        left: -27px;
        top: 15px;
        /* transform: skewX(26deg) translate(-53.3); */
        z-index: 4;
    }


    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

}
